@import "tailwindcss";

@theme {
  --color-secondary-fixed: #ffdbc8;
  --color-on-primary: #ffffff;
  --color-on-background: #191c1d;
  --color-secondary-container: #fb7800;
  --color-primary-fixed: #dae2ff;
  --color-outline-variant: #c3c6d5;
  --color-on-surface: #191c1d;
  --color-secondary-fixed-dim: #ffb68b;
  --color-surface-container-low: #f3f4f5;
  --color-tertiary-fixed: #7df4ff;
  --color-on-secondary-fixed-variant: #753400;
  --color-error: #ba1a1a;
  --color-surface-tint: #2559bd;
  --color-surface: #f8f9fa;
  --color-primary-fixed-dim: #b1c5ff;
  --color-surface-container-high: #e7e8e9;
  --color-on-primary-fixed: #001946;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #f8f9fa;
  --color-on-secondary-container: #592600;
  --color-tertiary-container: #00565c;
  --color-on-tertiary-fixed-variant: #004f54;
  --color-tertiary-fixed-dim: #5dd8e2;
  --color-on-tertiary-container: #53cfd9;
  --color-on-error: #ffffff;
  --color-surface-variant: #e1e3e4;
  --color-primary-container: #0047ab;
  --color-primary: #00327d;
  --color-on-secondary: #ffffff;
  --color-on-error-container: #93000a;
  --color-outline: #737784;
  --color-background: #f8f9fa;
  --color-surface-container-highest: #e1e3e4;
  --color-on-secondary-fixed: #321200;
  --color-tertiary: #003d41;
  --color-inverse-primary: #b1c5ff;
  --color-surface-dim: #d9dadb;
  --color-on-surface-variant: #434653;
  --color-inverse-on-surface: #f0f1f2;
  --color-inverse-surface: #2e3132;
  --color-on-tertiary: #ffffff;
  --color-on-primary-container: #a5bdff;
  --color-on-primary-fixed-variant: #00419e;
  --color-secondary: #994700;
  --color-on-tertiary-fixed: #002022;
  --color-error-container: #ffdad6;
  --color-surface-container: #edeeef;

  --font-headline: Manrope, sans-serif;
  --font-body: Inter, sans-serif;
  --font-label: Inter, sans-serif;
}

@layer base {
  html, body {
    @apply bg-surface text-on-surface font-body antialiased overflow-x-hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
  }
  
  .tonal-shift-bg {
    background: linear-gradient(180deg, #f8f9fa 0%, #f3f4f5 100%);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}
